.DS_Store
/bin
/build
/target
/.gradle
/.idea/*
acceptance/bin
acceptance/.settings/
acceptance/logs/
acceptance/sahi/userdata/browser
acceptance/sahi/userdata/certs
acceptance/sahi/userdata/logs
.idea/workspace.xml
videoworld.iws
videoworld.ipr
videoworld.iml
